body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  background-color: orange;
}


#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

#welcome {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  padding: 1rem;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}

img.bookImage{
    width: 200px;
    height: 200px;
    padding-left: 1rem;
}

#mainBook {
  width: 200px;
  height: 200px;
}

.books{
  display: inline-block;
}

.mainBooks {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  margin-right: 3rem;
  margin-left: 3rem;
}

.mainBooks:hover {
  scale: 120%;
}

.mainBooks a:link{
  color: black;
}

.mainBooks a:visited{
  color: purple;
}

a:active {
  color: orange;
}

.bookimg {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome {
  text-align: center;
}